/* import font */
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Nerko+One&family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

/* root */
:root {
    --primary: #F90401;
    --darkgrey: #2d2b3c;
    --black: #242424;
    --darkblack: #000000;
    --side: #8900f2;
    --width-break: 600px;
}

body {
    font-family: 'Nerko One', cursive;
    margin: 0px;
    color: var(--darkgrey);
    background: url('/images/sithbgmain2.png'), var(--primary);
    background-position: center;
}

/* nav */
.navigation {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
    color: var(--side);
    background-image: linear-gradient(to bottom right, var(--primary), var(--black));
}

/* main */
main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}



/* textarea */
textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: 'Nerko One', cursive;
    background-color: var(--darkgrey);
    color: var(--primary);
    overflow: hidden;
}

/* button */
button {
    background-color: var(--primary);
    width: 100%;
    min-height: 10vh;
    padding: 2rem 1rem;
    font-family: 'Kalam', cursive;
    font-size: x-large;
    margin: 1rem 0rem;
    border: none;
    border-radius: 1rem;
}

/* h1 */
h1 {
    font-size: larger;
    margin: 0px;
    color: var(--darkblack);
    font-family: 'Kalam', cursive;
    text-align: center;
    padding: 1rem 0rem;
}

/* paragraph */
p {
    max-width: var(--width-break);
    margin: auto;
    font-family: 'Kalam', cursive;
    color: var(--primary);
    font-size: large;
    background-color: var(--black);
}

img {
    margin: 0px;
    padding: 1rem 0rem;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: block;
    border-radius: 30px;
}

/* output textarea */
#output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    border: 2px solid var(--black);
    overflow: auto;
    color: var(--primary);
    background-color: var(--darkgrey);
    font-size: large;
}

/* list */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* footer */
footer {
    background-color: var(--primary);
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    font-family: 'Kalam', cursive;
    font-size: x-large;
    background-image: linear-gradient(to top right, var(--black), var(--primary));
}

footer .link {
    color: var(--side);
    text-decoration: none;
    width: max-content;

}

footer ul {
    padding-inline-start: 0px;
}

.footer__icon {
    font-size: 1.5rem;
    color: var(--light-color);
    margin: 0 1rem;
  }

.footer__icon:hover {
    color: var(--dark-gray);
  }
  
/* animation */
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  
  
  
  /* For demonstration purposes only: */
  body { font-size: 3.5em }
  h1 { font-size: 0.5em }