/* import font */
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Nerko+One&display=swap');

* {
    box-sizing: border-box;
}

/* root */
:root {
    --primary: #F2C94C;
    --blue: #0A75BC;
    --black: #333333;
    --darkblack: #000000;
    --side: #C84BF1;
    --width-break: 600px;
}

body {
    font-family: 'Nerko One', cursive;
    margin: 0px;
    color: var(--blue);
    background: url('minion3.png'), var(--primary);
}

/* nav */
.navigation {
    font-family: 'Kalam', cursive;
    font-size: 3rem;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}

/* main */
main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}



/* textarea */
textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: larger;
    font-family: 'Nerko One', cursive;
}

/* button */
button {
    background-color: var(--primary);
    width: 100%;
    min-height: 10vh;
    padding: 2rem 1rem;
    font-family: 'Kalam', cursive;
    font-size: larger;
    margin: 1rem 0rem;
    border: none;
}

/* h1 */
h1 {
    font-size: larger;
    margin: 0px;
    color: var(--darkblack);
    font-family: 'Kalam', cursive;
    text-align: center;
    padding: 1rem 0rem;
}

/* paragraph */
p {
    max-width: var(--width-break);
    margin: auto;
    font-family: 'Kalam', cursive;
    color: var(--darkblack);
    font-size: large;
    background-color: var(--blue);
}

img {
    margin: 0px;
    padding: 1rem 0rem;
    min-width: 30%;
    max-width: 100%;
    min-height: 10vh;
    max-height: 100%;
    box-sizing: border-box;
    display: block;
}

/* output textarea */
#output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    border: 2px solid var(--black);
    overflow: auto;
    color: var(--darkblack);
}

/* list */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* footer */
footer {
    background-color: var(--primary);
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    font-family: 'Kalam', cursive;
    font-size: x-large;
}

footer .link {
    color: var(--blue);
    text-decoration: none;
    width: max-content;

}

footer ul {
    padding-inline-start: 0px;
}